

<main class="main">
  <div class="content">
    <div class="col-md-12 " style="text-align: center; margin-bottom: 4%;">

      <div class="row mb-7"><a href="https://www.m2mservices.com"><img src="assets/m2m_logo.jpg" alt="logo"/></a></div>
      <div class="mt-4">
          <form [formGroup]="wiki_form" (ngSubmit)="onSubmit()">
            <div class="row mb-3  ">
              <label class="col-auto sub-heading">Compare</label>
              <div class="col-5">
                <input type="text" class="form-control"   formControlName="compare">
              </div>
            </div>
          
            <div class="row mb-3 ">
              <label class="col-lg-1 ml-4 sub-heading">To </label>
              <div class="col-5  ">
                <input type="text" class="form-control" formControlName="to_comparable">
              </div>
            </div>

            <button type="submit" class="btn btn-primary custom-btn">Submit</button>
          </form>
      </div>
      <div class="row mt-5">
        <!-- <app-input name="name_of_actor1"></app-input> -->
        <div class="compare col p-4" >Compare {{name_of_actor1.length}}
          <hr/>
          <div  *ngFor="let actor1 of name_of_actor1"> <li >{{actor1}}</li></div>
        </div>
        <div class="to_comparable col p-4"> To: {{name_of_actor2.length}}
          <hr/>
          <div *ngFor="let actor2 of name_of_actor2">
            <li>{{actor2}}</li>
          </div> 
        </div>
      </div>
    </div>    
  </div>
</main>



<router-outlet />
